.github-icon {
    background-image: url("icons/github-icon.png");
    width: 16px;
    height: 16px;
}

.github-icon-inverse {
    background-image: url("icons/github-icon-inverse.png");
    width: 16px;
    height: 16px;
}

.notification-count-box {
    /*background-image: url("icons/github-icon-inverse.png");*/
    /*width: 16px;*/
    /*height: 16px;*/
}

.notification-count-label {
    font-size: 10px;
    /*color: rgb(65, 131, 196);*/
    /*font-weight: bold;*/
    padding-top: 12px;
    /*margin-left: 12px;*/
}

.notification-count-box .notification-count-label {

}